/* source keypos definitions */
#include "../zmk-nodefree-config/keypos_def/keypos_42keys.h"

/* map Zen's extra keys */
#define X_LH  &lt SYS ESC  // thumb row, left
#define X_RH  SMART_NUM    // thumb row, right
#define X_LT  &none
#define X_LM  &none
#define X_LB  &none
#define X_Lh  &none

#define X_RT  &none
#define X_RM  &none
#define X_RB  &none
#define X_Rh  &none

/* activate bluetooth */
#define CONFIG_WIRELESS 1

/* source the main keymap */
#include "base.keymap"

